
.mainfoot{
    background-color: rgb(10, 10, 10);
    color: white;
}
.ff{
    display: flex;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 1%;
}
.nn{
    width: 50%;
    /* background-color: aliceblue; */
}
.nn1{
    width: 50%;
}
.aaa{
    display: flex;
    padding-top: 1%;
    padding-left: 12%;
    padding-right: 12%;
    /* margin: 10%; */
}
.aaa h3{
    font-weight: bold;
    font-size: 22px;
}
.aaa p{
    font-size: 17px;
}
.aaa1{
    width: 50%;
    justify-content: center;
    line-height: 25px;
    padding-right: 1%;
}

.aaa2{
    padding-top: 10%;
    width: 50%;
    justify-content: center;
    padding-left: 1%;
}
.nn1{
    /* padding-top: 1.5%; */
    /* width: 100%; */
}
.nn1 iframe{
    width: 80%;
    height: 105%;
}
.linee{
    margin-top: 2%;
    background-color: gray;
    height: 3px;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}
.xxxx{
    background-color: rgb(10, 10, 10);
}
.xxxx p{
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding-bottom: 1%;
    background-color: rgb(10, 10, 10);
}
.logoss {
    padding: 10px;
}
.logoss img{
    /* size: 550%; */
    height: 40px;
    width: 40px;
}
.insta{
    padding: 1px;
    margin-left: 13%;
}
@media (max-width : 1000px) {
    .nn{
        width: 60%;
    }
    .nn1{
        width: 40%;
    }
}
@media (max-width : 750px) {
    .ff{
        display: flex;
        flex-direction: column;
    }
    .nn{
        width: 100%;
    }
    .nn1{
        width: 100%;
       display: flex;
       justify-content: center;
    }
    .aaa{
        padding-left: 4%;
        padding-right: 14%;
    }
    .logoss a{
        font-size: 300%;
        /* padding: px; */
        padding-bottom: 20px;
    }
    .insta{
        padding: 1px;
        margin-left: 6%;
    }
    
}


/*
Main body
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con{
    max-width: 100%;
}

.ft{
    background-color: #282525;
    padding: 60px 0;
}


.uw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}

h1{
    color: #ffffff;
    padding-bottom: 30px;
}

.ft-col{
    color: #FFFFFF;
    font-size: 25px;
    width: 320px;
    height: 319px;
}

.ft-col a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
}

.lt{
    padding-bottom: 10px;
}

.ml{
    padding-bottom: 10px;
}

.bx{
    padding-bottom: 50px;
}

.con span{
    padding-right: 20px;
}

.loc{
    display: flex;
    flex-wrap: wrap;
}

.loc-txt{
    width: 260px;
}

.row1{
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-bottom: 22px;
}

.ne{
    padding-right: 20px;
    padding-top: 10px;

}

.el{
    padding-top: 10px;
}

input[type=text]{
    color: #282525;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

textarea{
    resize: none;
    border: none;
    border-radius: 5px;
}

input[type=submit]{
    color: #282525;
    padding: 10px;
    padding-left: 122.8px;
    padding-right: 122.8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover{
    padding: 15px;
    padding-left: 134.8px;
    padding-right: 134.8px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.sb{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.sol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
}

.fa-brands{
    font-size: 40px;
}

.lg{
    padding: 10px;
    font-size: 50px;
}

::placeholder {
    font-size: large;
    padding: 10px;
    color: red;
    opacity: 1;
}

textarea{
    padding-left: 10px;
}

.name{
    height: 60px;
    width: 145px;
}

.email{
    height: 60px;
    width: 145px;
}

.rws{
    margin-top: 150px;
}

.inst svg{
    color: rgb(240, 98, 157);
}
.inst svg:hover{
    color: rgb(234, 57, 130);
    font-size: 60px;
}

.you svg{
    color: rgb(227, 48, 48);
}
.you svg:hover{
    color: rgb(255, 0, 0);
    font-size: 60px;
}

.what svg{
    color:rgb(7, 150, 0) ;
}
.what svg:hover{
    color: rgb(63, 238, 53);
    font-size: 60px;
}

*/
